@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "JetBrains Mono", monospace;
}
.heading-seperator {
  border-top-width: medium;
  margin: 20px auto 30px;
  width: 130px;
  border-color: #2563eb;
}
/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2563eb;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffde55;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #544e4e;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
body .slick-prev:before,
body .slick-next:before {
  font-size: 50px;
  opacity: unset !important;
  color: #2563eb;
}
body .slick-prev {
  left: -55px;
}

.typing-effect__typewriter h4 {
  font-size: 16px;
  border-bottom: 2px solid #e5e7eb;
  display: inline-block;
  width: 95%;
  padding: 10px;
  color: #000;
}

/* DARK MODE STYLING */
.darkMode {
  background-color: #000;
}
.darkMode #skills-section p,
.dark .react-tabs__tab {
  color: #000;
}
.darkMode #contact-section .git-icon,
.darkMode #contact-section .codepen-icon,
.darkMode #about-section p,
.dark .react-tabs__tab--selected {
  color: #fff;
}

/* LIGHT MODE STYLING */
.lightMode {
  background-color: #fff;
}
.lightMode p {
  color: #000;
}

/* CUSTOM CSS FOR REACT TABS */
body .react-tabs__tab-list {
  text-align: center;
  border: unset;
}
body .react-tabs__tab {
  border: unset;
  padding: 10px 30px;
  text-transform: uppercase;
  background: #f4f4f4;
}
body .react-tabs__tab--selected {
  background: #2563eb;
  color: rgb(146, 127, 127);
  border-radius: 0px;
  font-size: 18px;
  height: 44px;
  top: 4px;
}
body .react-tabs__tab-panel {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  .project-link-buttons {
    display: block;
  }
  .project-link-buttons a {
    margin: 10px 0px 0px !important;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-card {
    width: 90vw;
    margin: 0px auto;
  }
  .slick-arrow {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .project-card {
    height: 570px;
  }
}
